@font-face {
  font-family: 'Negar';
  font-weight: normal;
  src: url("../Fonts/ANegaar.ttf")
}

@font-face {
  font-family: 'Negar';
  font-weight: bold;
  src: url('../Fonts/ANegaarBold.ttf');
}

* {
  box-sizing: border-box;
  font-family: 'Negar';
}

body {
  direction: rtl;
  margin: 0px;
}

.container {
  padding: 0px 10px;
}

.clearfix {
  clear: both;
  margin: 0px;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #6ae0ff;
  border-bottom: 2px solid rgba(87, 92, 249, 1);
}

.page_logo img {
  max-height: 60px;
  float: right;
}

nav {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
  float: right;
  margin: 0px;
  padding: 0px;
}

li {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  float: right;
}

.nav_button {
  margin: 15px 1px 0px 1px;
  height: 30px;
  padding: 5px;
  float: right;
  border: 2px solid rgba(87, 92, 249, 1);
  border-radius: 3px;
  background-color: #6ae0ff;
}

a {
  text-decoration: none;
  color: rgba(87, 92, 249, 1);
}

#signup_button {
  margin: 15px 0px;
  height: 30px;
  width: 50px;
  float: left;
  background-color: #00ff42;
  border: 2px solid #00a32a;
  color: #00a32a;
  border-radius: 3px;
  font-size: 15pt;
}

.main_intro {
  margin: 0px;
  padding: 0px;
  height: auto;
  width: 100%;
  background: rgb(48, 208, 252);
  background: linear-gradient(30deg, rgba(48, 208, 252, 1) 0%, rgba(87, 92, 249, 1) 100%);
}

.right_intro {
  margin: 0px 0px 10px 0px;
  padding: 0px;
  height: auto;
  width: 35%;
  float: right;
}

.left_intro {
  margin: 0px 0px 10px 0px;
  padding: 0px;
  width: 65%;
  height: auto;
  float: left;
}

h1 {
  font-size: 27pt;
  font-weight: bold;
  color: white;
}

h4 {
  margin: 0px;
}

.shopping_pic {
  width: 100%;
  max-height: 300px;
}

.button {
  background: transparent;
  border: 1px solid white;
  padding: 10px 4px 4px 4px;
  border-radius: 2px;
  font-size: 10pt;
  color: white;
}

.button:active {
  box-shadow: 0px 0px 10px #95f5ff;
}

#signup_button:active,
.nav_button:active {
  box-shadow: 0px 0px 10px #c5ff95;
}

.posts {
  height: auto;
  margin-top: 0px;
}

.posts h2{
  margin: 20px 0px 10px 0px;
  padding: 0px 5px;
}

.post {
  width: 100%;
  height: auto;
  float: right;
  padding: 5px;
}

.post > div {
  box-shadow: 1px 1px 2px #0c250d44;
  text-align: center;
  margin: 0px;
  padding: 5px;
}

.product_image {
  max-width: 95%;
  max-height: 250px;
}

.first_line , .second_line {
  padding: 5px;
}

.product_title {
  font-size: 12pt;
  font-weight: normal;
  text-align: right;
  float: right;
  margin: 0px;
}

.price {
  float:left;
  font-size: 10pt;
  font-weight: normal;
  margin: 0px;
}

.product_description {
  font-size: 8pt;
  font-weight: normal;
  text-align: right;
  float: right;
  margin: 0px;
  width: 60%;
}

.discount {
  float: left;
  text-align: left;
  font-size: 10pt;
  font-weight: normal;
  text-decoration: line-through;
  margin: 0px;
  width: 40%;
  color: #999;
}

.ads {}

.left_ads {
  width: 25%;
  float: left;
}

.center_ads {
  width: 50%;
  float: right;
}

.right_ads {
  width: 25%;
  float: right;
}

.ads img {
  max-height: 300px;
}

@media screen and (min-width: 600px) {
  .container {
    padding: 0px 40px;
  }

  h1 {
    font-size: 33pt;
  }

  .post {
    height: auto;
    width: 50%;
  }

  .shopping_pic {
    width: 100%;
    max-height: 400px;
  }
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 38pt;
  }
}

@media screen and (min-width: 800px) {
  .container {
    padding: 0px 60px;
  }

  h1 {
    font-size: 44pt;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    padding: 0px 80px;
  }

  h1 {
    font-size: 54pt;
  }

  .post {
    width: 25%;
    height: auto;
    float: right;
    padding: 5px;
  }

  .product_image {
    max-width: 95%;
    max-height: 400px;
  }

  .shopping_pic {
    width: 100%;
    max-height: 600px;
  }

}

@media screen and (min-width: 1150px) {
  .container {
    padding: 0px 100px;
  }

  h1 {
    font-size: 70pt;
  }
}
